@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Merienda', cursive;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main'
    'footer footer';

  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 70% 15%;
}

header {
  display: grid;
  justify-content: end;
  align-items: center;
  background-color: rgb(222, 164, 245);
  grid-area: header;
}

aside {
  background-color: rgb(163, 150, 233);
  grid-area: aside;
  padding: 10px;
}

.menu h3 {
  font-size: 24px;
}

main {
  background-color: skyblue;
  grid-area: main;
  display: grid;
  grid-template-areas:
    'inHeader inAside'
    'inMain inAside';
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 90%;
}

ol {
  list-style-type: upper-roman;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: darkgreen;
}

.inHeader {
  grid-area: inHeader;
  background-color: rgb(241, 221, 153);
  display: grid;
  align-items: center;
}

.inHeader h2 {
  text-align: center;
  margin: 0;
}

.inAside {
  grid-area: inAside;
  background-color: rgb(233, 169, 169);
}

.inMain {
  grid-area: inMain;
  background-color: rgb(168, 231, 200);
  display: grid;
  justify-content: center;
  align-items: center;
}

.contentBox {
  font-weight: 600;
  font-size: 1em;
  background-color: powderblue;
  display: inline-block;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 10px;
}

.contentBox__text {
  display: inline;
}

.pic--hidden {
  visibility: hidden;
}

.btn {
  justify-self: center;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  background-color: powderblue;
  border: 3px solid black;
  border-radius: 10px;
}

.picture {
  width: 60%;
  justify-self: center;
}

.contentBox__icon {
  font-size: 24px;
  color: blueviolet;
}

footer {
  display: grid;
  justify-content: start;
  align-items: center;
  background-color: rgb(221, 217, 153);
  grid-area: footer;
}
